*{
    margin: 0;
    padding: 0;
}
ul,
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    overflow-y:hidden ;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
}

.header .logo{
    height: 6rem;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #000;

}
.header .icons div{
    color: #000;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;


}
#burger-btn{
    display: none;
}


@media (max-width: 991px) {
    #burger-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 30%;
        right: -100%;
        background-color:#000;
        width: 30rem;
        height: 34rem;
    }

    .header .navbar.active{
        right: 0;
    }
    .header .navbar a{
        color: aliceblue;
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }
    
}